.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 750px;
    background-color: #eeeeee;
}

.title {
    margin-left:10px;
    font-size: 32px;
    color: #000;
}

.sub_title {
    margin: 10px;
    font-size: 28px;
    color: #ccc;
}

.border-top-line {
    border-top-width: 1px;
    border-top-color: #ddd;
    border-top-style: solid;
}

.border-bottom-line {
    border-bottom-width: 1px;
    border-bottom-color: #ddd;
    border-bottom-style: solid;
}

.cell-header {
    min-height: 70px;
    flex-direction: row;
    background-color: #eee;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    border-top-width: 1px;
    border-top-color: #ddd;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ddd;
    border-bottom-style: solid;
}
.cell-row {
    min-height: 100px;
    flex-direction: row;
    background-color: #ffffff;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

.clear-row {
    margin-top: 0px;
}
.clear-one {
    margin-top: 1px;
}

.bkg-white {
    background-color: white;
}

.bkg-primary {
    background-color: #F0AD3C;
}

.bkg-gray {
    background-color:#ccc;
}

.bkg-color {
    background-color:#eeeeee;
}

.white {
    color: white;
}

.primary {
    color: #F0AD3C;
}

.gray {
    color:#ccc;
}

.color {
    color:#eeeeee;
}

.left {
    flex-direction: row;
    align-items: center;
}

.last {
    flex-direction: row;
    align-items: center;
}

.ico {
    margin-left:10px;
    font-size: 48px;
    color: #F0AD3C;
}

.arrow {
    font-size: 32px;
    color: #ccc;
}

.button {
    min-height:60px;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    background-color: rgba(162, 217, 192, 0.2);
    border-radius:8px;
}
