@import "variable/color";
@import "variable/size";

/**每个页面都必须的，墙纸**/
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 750px;
    background-color:@bg-gray;
}

/**默认标题字体**/

.nav_title {
    font-size: @nav-size;
    color: #fff;
    line-height: @nav-size;
}

.title {
    font-size: @title-size;
    color: #000;
}

/**默认子标题字体**/
.sub_title {
    font-size: @sub-title-size;
    color: @font-gray;
}
.sub_date{
    font-size: 26px;
    color: @font-gray;
}

.fz28{
    font-size: 28px;
}
.fz30{
    font-size: 30px;
}
.fz32{
     font-size: 32px;
 }
.fz35{
    font-size: 35px;
}
.fz40{
    font-size: 40px;
}
.boder-bottom{
    border-style: solid;
    border-bottom-width: 1px;
    border-color: gainsboro;
}
.pl10{
     padding-left: 10px;
 }
.pt10{
    padding-top: 10px;
}
.pb10{
    padding-bottom: 10px;
}

.pl20{
    padding-left: 20px;
}
.pt20{
    padding-top:20px;
}
.pb15{
    padding-bottom: 15px;
}
.pb20{
    padding-bottom: 20px;
}
.pt25{
    padding-top:25px;
}
.pt30{
    padding-top: 30px;
}
.pt40{
    padding-top: 40px;
}
.bt40{
    padding-bottom: 40px;
}
.pb30{
    padding-bottom: 30px;
}
.pb25{
    padding-bottom: 25px;
}

.pl30{
    padding-left: 30px;
}
.pr30{
    padding-right: 30px;
}
.pl35{
    padding-left: 35px;
}
.pr35{
    padding-right: 35px;
}
.bgWhite{
    background-color: #ffffff;
}

.textActive:active{
    background-color: #ccc;
}
/**top 大小**/
.mt0{
    margin-top: 0px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt50 {
    margin-top: 50px;
}
/**bottom 大小**/
.bt0{
    margin-bottom: 0px;
}
.bt10 {
    margin-bottom: 10px;
}
.bt20 {
    margin-bottom: 20px;
}
.bt30 {
    margin-bottom: 30px;
}
.bt50 {
    margin-bottom: 50px;
}

/**left 大小**/
.ml10 {
    margin-left: 10px;
}
.ml20 {
    margin-left: 20px;
}
.ml30 {
    margin-left: 30px;
}

.header {
    height: 136px;
    flex-direction: row;
    position:sticky;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: @border-gray;
    background-color: @baseColor;
}
.corpusActive{
    color: @baseColor;
    border-color: @baseColor;
    border-style: solid;
    border-bottom-width:4px;
}
.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
}

.fill {
    height: 500px;
    width:750px;
    background-color: @bg-gray;
}

/** 图标图像 **/
.iconImg{
    width:60px;
    height:60px;
    font-size: 60px;
}
/**cell 分组头**/
.cell-header {
    height: 70px;
    flex-direction: row;
    background-color: @header-gray;
    padding-left: 20px;
}

/**cell 行**/
.cell-row {
    min-height: 100px;
    flex-direction: column;
    background-color: #ffffff;
    padding-left: 20px;
    margin-top: 20px;
}
.cell-row-row {
    min-height: 100px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    margin-top: 20px;
}
.cell-line {
    border-top-width: 1px;
    border-top-color: @border-gray;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: @border-gray;
    border-bottom-style: solid;
}
.borderTop{
    border-top-width: 1px;
    border-top-color: @border-gray;
    border-top-style: solid;
}
.borderBottom{
    border-bottom-width: 1px;
    border-bottom-color: @border-gray;
    border-bottom-style: solid;
}
/**cell 内面行**/
.cell-panel {
    height: 98px;
    min-height: 98px;
    flex-direction: row;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-color: @border-gray;
    border-bottom-style: solid;
}
.cell-panel-column{
    height: 98px;
    min-height: 98px;
    flex-direction: column;
    justify-content: space-around;
    border-bottom-width: 1px;
    border-bottom-color: @border-gray;
    border-bottom-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cell-panel-column :last-child{
    border-bottom-width: 0px;
}
.cell-panel :last-child {
    border-bottom-width: 0px;
}
.cell-bottom-clear{
    border-bottom-width:0px;
}
.cell-clear {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom-width:0px;
    border-top-width:0px;
    border-bottom-width: 1px;
}

/**两边对齐**/
.space-between {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.flex-start {
    justify-content:flex-start;
    flex-direction: row;
    align-items: center;
}
.flex-end {
    justify-content:flex-end;
    flex-direction: row;
    align-items: center;
}
.flex-center {
    justify-content:center;
    flex-direction: row;
    align-items: center;
}
.space-around {
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
}

/**横向部局居中对齐**/
.flex-row {
    flex-direction: row;
    align-items: center;
}
.flex-column {
    flex-direction: column;
    align-items: center;
}

/**flex 部局比例**/
.flex1 {
    flex:1;
}
.flex2 {
    flex:2;
}
.flex3 {
    flex:3;
}
.flex4 {
    flex:4;
}
.flex5 {
    flex:6;
}

/**常用背景颜色**/
.bkg-white {
    background-color: white;
}

.bkg-primary {
    background-color: @baseColor;
}

.bkg-gray {
    background-color:@bg-gray;
}


.bd-primary{
    border-color: @baseColor;
}
/**常用字体颜色**/
.white {
    color: white;
}

.primary {
    color: @baseColor;
}

.gray {
    color:@font-gray;
}

/**ico 字体大小与颜色**/
.ico {
    font-size: @ico-size;
    color: @baseColor;
    margin-top: 4px;
}

.ico_big {
    font-size: @ico-big-size;
    color: @baseColor;
    margin-top: 6px;
}

.ico_small {
    font-size: @ico-small-size;
    color: @baseColor;
    margin-top: 2px;
}

/**右箭头 字体大小与颜色**/
.arrow {
    font-size: 32px;
    color: @base-gray;
    width: 40px;
}
/**打勾 字体大小与颜色**/
.check {
    font-size: 32px;
    color: @baseColor;
    width: 40px;
}
/**默认按钮类型**/
.button {
    font-size: 36px;
    text-align: center;
    color:#fff;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: @baseColor;
    border-radius:15px;
}
//.button-panel:active{
//    background-color:@border-gray;
//    color:@baseColor;
//}
.button:active {
    background-color:@border-gray;
    color:@baseColor;
}
.button:disabled {
    background-color:@baseColor;
    color:#999;
}

/**上拉刷新，下拉加载样式**/

.refresh {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
.loading {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
.noLoading {
    height:999px;
}

.gif {
    width:50px;
    height:50px;
}

.indicator{
    font-size: 36px;
    color:@baseColor;
    width:750px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/**超长用省略号**/
.lines-ellipsis {
   lines:1;
   text-overflow: ellipsis;
}
