//主色;
//@baseColor:#D9141E;   //产品主色
//@baseColor:#99CCFF;
@baseColor:#EB4E40;
@base-gray:#ccc;      //标准灰

@border-gray:#ccc;    //分割边框线
@bg-gray:#eee;        //背景色
@header-gray:#ddd;    //分组背景色

@font-gray:#bbb; //标题色



